@media all and (min-width: 480px) {
    .Detail {
        border: 1px solid #e7e7e7;
        border-radius: 4px;
    }

    .Detail .row>div {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}