.Autocomplete {
    padding: 10px 0;
}

.Autocomplete .item {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Autocomplete .item .name {
    font-weight: 600;
}

.Autocomplete .item .address {
    text-align: right;
    font-size: 60%;
    margin-left: 10px;
}